Dsl/GeneratedCode/MobileDSLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="MobileDSLSchema" targetNamespace="http://schemas.microsoft.com/dsltools/MobileDSL" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/MobileDSL" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- NamedElement -->
  <xsd:element name="namedElement" abstract="true" type="NamedElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="NamedElement" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement Moniker -->
  <xsd:element name="namedElementMoniker" abstract="true" type="NamedElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="NamedElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ComponentModel -->
  <xsd:element name="componentModel" type="ComponentModel" substitutionGroup="namedElement" />
  <xsd:complexType name="ComponentModel">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ComponentModelHasComments -->
          <xsd:element name="comments" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ComponentModelHasComments</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="componentModelHasComments">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ComponentModelHasComments needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="comment" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ComponentModelHasControllers -->
          <xsd:element name="controllers" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ComponentModelHasControllers</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="componentModelHasControllers" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ComponentModelHasControllers needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ComponentModel Moniker -->
  <xsd:element name="componentModelMoniker" type="ComponentModelMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ComponentModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ComponentModel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Controller -->
  <xsd:element name="controller" type="Controller" substitutionGroup="classWithPorts" />
  <xsd:complexType name="Controller">
    <xsd:complexContent>
      <xsd:extension base="ClassWithPorts">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ControllerHasStates2 -->
          <xsd:element name="states2" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ControllerHasStates2</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="controllerHasStates2" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ControllerHasStates2 needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ControllerHasStates -->
          <xsd:element name="states" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ControllerHasStates</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="controllerHasStates" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ControllerHasStates needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Kind -->
        <xsd:attribute name="kind" type="xsd:string" />
        <!-- Property: isFirst -->
        <xsd:attribute name="isFirst" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Controller Moniker -->
  <xsd:element name="controllerMoniker" type="ControllerMoniker" substitutionGroup="classWithPortsMoniker" />
  <xsd:complexType name="ControllerMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Controller instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClassWithPortsMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Port -->
  <xsd:element name="port" abstract="true" type="Port" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Port" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Port Moniker -->
  <xsd:element name="portMoniker" abstract="true" type="PortMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Port instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- InPort -->
  <xsd:element name="inPort" type="InPort" substitutionGroup="port" />
  <xsd:complexType name="InPort">
    <xsd:complexContent>
      <xsd:extension base="Port">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: InPortReferencesShowForms -->
          <xsd:element name="showForms" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of InPortReferencesShowForms</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="inPortReferencesShowForms" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of InPortReferencesShowForms needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- InPort Moniker -->
  <xsd:element name="inPortMoniker" type="InPortMoniker" substitutionGroup="portMoniker" />
  <xsd:complexType name="InPortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for InPort instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PortMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OutPort -->
  <xsd:element name="outPort" type="OutPort" substitutionGroup="port" />
  <xsd:complexType name="OutPort">
    <xsd:complexContent>
      <xsd:extension base="Port">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: Connection -->
          <xsd:element name="targets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Connection</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="connection" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Connection needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OutPort Moniker -->
  <xsd:element name="outPortMoniker" type="OutPortMoniker" substitutionGroup="portMoniker" />
  <xsd:complexType name="OutPortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OutPort instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PortMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Comment -->
  <xsd:element name="comment" type="Comment" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Comment">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CommentReferencesSubjects -->
          <xsd:element name="subjects" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CommentReferencesSubjects</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="commentReferencesSubjects">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CommentReferencesSubjects needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="controllerMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Comment Moniker -->
  <xsd:element name="commentMoniker" type="CommentMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CommentMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Comment instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State_old2 -->
  <xsd:element name="state_old2" type="State_old2" substitutionGroup="namedElement" />
  <xsd:complexType name="State_old2">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: State_old2ReferencesPreviousStates -->
          <xsd:element name="previousStates" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of State_old2ReferencesPreviousStates</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="state_old2ReferencesPreviousStates" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of State_old2ReferencesPreviousStates needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: isFirstState -->
        <xsd:attribute name="isFirstState" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State_old2 Moniker -->
  <xsd:element name="state_old2Moniker" type="State_old2Moniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="State_old2Moniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for State_old2 instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State -->
  <xsd:element name="state" type="State" substitutionGroup="classWithPorts" />
  <xsd:complexType name="State">
    <xsd:complexContent>
      <xsd:extension base="ClassWithPorts">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: StateHasShowForms -->
          <xsd:element name="showForms" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of StateHasShowForms</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="stateHasShowForms" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of StateHasShowForms needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State Moniker -->
  <xsd:element name="stateMoniker" type="StateMoniker" substitutionGroup="classWithPortsMoniker" />
  <xsd:complexType name="StateMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for State instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClassWithPortsMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPorts -->
  <xsd:element name="classWithPorts" abstract="true" type="ClassWithPorts" substitutionGroup="namedElement" />
  <xsd:complexType name="ClassWithPorts" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClassWithPortsHasPorts -->
          <xsd:element name="ports" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClassWithPortsHasPorts</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="classWithPortsHasPorts" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClassWithPortsHasPorts needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClassWithPortsHasIP -->
          <xsd:element name="iP" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClassWithPortsHasIP</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="classWithPortsHasIP" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClassWithPortsHasIP needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClassWithPortsHasOP -->
          <xsd:element name="oP" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClassWithPortsHasOP</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="classWithPortsHasOP" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClassWithPortsHasOP needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPorts Moniker -->
  <xsd:element name="classWithPortsMoniker" abstract="true" type="ClassWithPortsMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ClassWithPortsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClassWithPorts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowForm -->
  <xsd:element name="showForm" type="ShowForm" substitutionGroup="connectable" />
  <xsd:complexType name="ShowForm">
    <xsd:complexContent>
      <xsd:extension base="Connectable">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ShowFormHasEvents -->
          <xsd:element name="events" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ShowFormHasEvents</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="showFormHasEvents" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ShowFormHasEvents needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ShowFormHasPrimitives -->
          <xsd:element name="primitives" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ShowFormHasPrimitives</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="showFormHasPrimitives" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ShowFormHasPrimitives needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ShowFormReferencesOutPorts -->
          <xsd:element name="outPorts" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ShowFormReferencesOutPorts</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="showFormReferencesOutPorts" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ShowFormReferencesOutPorts needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowForm Moniker -->
  <xsd:element name="showFormMoniker" type="ShowFormMoniker" substitutionGroup="connectableMoniker" />
  <xsd:complexType name="ShowFormMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ShowForm instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ConnectableMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Event -->
  <xsd:element name="event" type="Event" substitutionGroup="namedElement" />
  <xsd:complexType name="Event">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: PrimitiveName -->
        <xsd:attribute name="primitiveName" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Event Moniker -->
  <xsd:element name="eventMoniker" type="EventMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="EventMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Event instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Primitive -->
  <xsd:element name="primitive" type="Primitive" substitutionGroup="namedElement" />
  <xsd:complexType name="Primitive">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Parent -->
        <xsd:attribute name="parent" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Primitive Moniker -->
  <xsd:element name="primitiveMoniker" type="PrimitiveMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="PrimitiveMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Primitive instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Button -->
  <xsd:element name="button" type="Button" substitutionGroup="primitive" />
  <xsd:complexType name="Button">
    <xsd:complexContent>
      <xsd:extension base="Primitive">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Button Moniker -->
  <xsd:element name="buttonMoniker" type="ButtonMoniker" substitutionGroup="primitiveMoniker" />
  <xsd:complexType name="ButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Button instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PrimitiveMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Connectable -->
  <xsd:element name="connectable" abstract="true" type="Connectable" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Connectable" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: C -->
          <xsd:element name="childConnections" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of C</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="c" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of C needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Connectable Moniker -->
  <xsd:element name="connectableMoniker" abstract="true" type="ConnectableMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConnectableMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Connectable instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- P -->
  <xsd:element name="p" abstract="true" type="P" substitutionGroup="connectable" />
  <xsd:complexType name="P" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="Connectable">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- P Moniker -->
  <xsd:element name="pMoniker" abstract="true" type="PMoniker" substitutionGroup="connectableMoniker" />
  <xsd:complexType name="PMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for P instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ConnectableMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- IP -->
  <xsd:element name="iP" type="IP" substitutionGroup="p" />
  <xsd:complexType name="IP">
    <xsd:complexContent>
      <xsd:extension base="P">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- IP Moniker -->
  <xsd:element name="iPMoniker" type="IPMoniker" substitutionGroup="pMoniker" />
  <xsd:complexType name="IPMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for IP instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OP -->
  <xsd:element name="oP" type="OP" substitutionGroup="p" />
  <xsd:complexType name="OP">
    <xsd:complexContent>
      <xsd:extension base="P">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OP Moniker -->
  <xsd:element name="oPMoniker" type="OPMoniker" substitutionGroup="pMoniker" />
  <xsd:complexType name="OPMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OP instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DLink -->
  <xsd:element name="dLink" type="DLink" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DLink">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DLink Moniker -->
  <xsd:element name="dLinkMoniker" type="DLinkMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DLinkMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DLink instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Label -->
  <xsd:element name="label" type="Label" substitutionGroup="primitive" />
  <xsd:complexType name="Label">
    <xsd:complexContent>
      <xsd:extension base="Primitive">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Label Moniker -->
  <xsd:element name="labelMoniker" type="LabelMoniker" substitutionGroup="primitiveMoniker" />
  <xsd:complexType name="LabelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Label instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PrimitiveMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DropBox -->
  <xsd:element name="dropBox" type="DropBox" substitutionGroup="primitive" />
  <xsd:complexType name="DropBox">
    <xsd:complexContent>
      <xsd:extension base="Primitive">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Items -->
        <xsd:attribute name="items" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DropBox Moniker -->
  <xsd:element name="dropBoxMoniker" type="DropBoxMoniker" substitutionGroup="primitiveMoniker" />
  <xsd:complexType name="DropBoxMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DropBox instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PrimitiveMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ListBox -->
  <xsd:element name="listBox" type="ListBox" substitutionGroup="primitive" />
  <xsd:complexType name="ListBox">
    <xsd:complexContent>
      <xsd:extension base="Primitive">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Items -->
        <xsd:attribute name="items" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ListBox Moniker -->
  <xsd:element name="listBoxMoniker" type="ListBoxMoniker" substitutionGroup="primitiveMoniker" />
  <xsd:complexType name="ListBoxMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ListBox instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PrimitiveMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StackPanel -->
  <xsd:element name="stackPanel" type="StackPanel" substitutionGroup="primitive" />
  <xsd:complexType name="StackPanel">
    <xsd:complexContent>
      <xsd:extension base="Primitive">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Orientation -->
        <xsd:attribute name="orientation" type="xsd:string" />
        <!-- Property: Items -->
        <xsd:attribute name="items" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StackPanel Moniker -->
  <xsd:element name="stackPanelMoniker" type="StackPanelMoniker" substitutionGroup="primitiveMoniker" />
  <xsd:complexType name="StackPanelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StackPanel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PrimitiveMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Input -->
  <xsd:element name="input" type="Input" substitutionGroup="primitive" />
  <xsd:complexType name="Input">
    <xsd:complexContent>
      <xsd:extension base="Primitive">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
        <!-- Property: InputMode -->
        <xsd:attribute name="inputMode" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Input Moniker -->
  <xsd:element name="inputMoniker" type="InputMoniker" substitutionGroup="primitiveMoniker" />
  <xsd:complexType name="InputMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Input instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PrimitiveMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Connection -->
  <xsd:element name="connection" type="Connection" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Connection">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end InPort -->
          <xsd:element ref="inPortMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: SourceRoleName -->
        <xsd:attribute name="sourceRoleName" type="xsd:string" />
        <!-- Property: TargetRoleName -->
        <xsd:attribute name="targetRoleName" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Connection Moniker -->
  <xsd:element name="connectionMoniker" type="ConnectionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConnectionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Connection instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ComponentModelHasComments -->
  <xsd:element name="componentModelHasComments" abstract="true" type="ComponentModelHasComments" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ComponentModelHasComments" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Comment -->
          <xsd:element ref="comment" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ComponentModelHasComments Moniker -->
  <xsd:element name="componentModelHasCommentsMoniker" type="ComponentModelHasCommentsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ComponentModelHasCommentsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ComponentModelHasComments instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ComponentModelHasControllers -->
  <xsd:element name="componentModelHasControllers" type="ComponentModelHasControllers" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ComponentModelHasControllers">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Controller -->
          <xsd:element ref="controller" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ComponentModelHasControllers Moniker -->
  <xsd:element name="componentModelHasControllersMoniker" type="ComponentModelHasControllersMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ComponentModelHasControllersMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ComponentModelHasControllers instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CommentReferencesSubjects -->
  <xsd:element name="commentReferencesSubjects" abstract="true" type="CommentReferencesSubjects" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CommentReferencesSubjects" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Controller -->
          <xsd:element ref="controllerMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CommentReferencesSubjects Moniker -->
  <xsd:element name="commentReferencesSubjectsMoniker" type="CommentReferencesSubjectsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CommentReferencesSubjectsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CommentReferencesSubjects instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerHasStates2 -->
  <xsd:element name="controllerHasStates2" type="ControllerHasStates2" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ControllerHasStates2">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State_old2 -->
          <xsd:element ref="state_old2" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerHasStates2 Moniker -->
  <xsd:element name="controllerHasStates2Moniker" type="ControllerHasStates2Moniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ControllerHasStates2Moniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ControllerHasStates2 instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State_old2ReferencesPreviousStates -->
  <xsd:element name="state_old2ReferencesPreviousStates" type="State_old2ReferencesPreviousStates" substitutionGroup="core:modelElement" />
  <xsd:complexType name="State_old2ReferencesPreviousStates">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State_old2 -->
          <xsd:element ref="state_old2Moniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: condition -->
        <xsd:attribute name="condition" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State_old2ReferencesPreviousStates Moniker -->
  <xsd:element name="state_old2ReferencesPreviousStatesMoniker" type="State_old2ReferencesPreviousStatesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="State_old2ReferencesPreviousStatesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for State_old2ReferencesPreviousStates instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerHasStates -->
  <xsd:element name="controllerHasStates" type="ControllerHasStates" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ControllerHasStates">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State -->
          <xsd:element ref="state" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerHasStates Moniker -->
  <xsd:element name="controllerHasStatesMoniker" type="ControllerHasStatesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ControllerHasStatesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ControllerHasStates instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPortsHasPorts -->
  <xsd:element name="classWithPortsHasPorts" type="ClassWithPortsHasPorts" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClassWithPortsHasPorts">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Port -->
          <xsd:element ref="port" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPortsHasPorts Moniker -->
  <xsd:element name="classWithPortsHasPortsMoniker" type="ClassWithPortsHasPortsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClassWithPortsHasPortsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClassWithPortsHasPorts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateHasShowForms -->
  <xsd:element name="stateHasShowForms" type="StateHasShowForms" substitutionGroup="core:modelElement" />
  <xsd:complexType name="StateHasShowForms">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ShowForm -->
          <xsd:element ref="showForm" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateHasShowForms Moniker -->
  <xsd:element name="stateHasShowFormsMoniker" type="StateHasShowFormsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="StateHasShowFormsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StateHasShowForms instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormHasEvents -->
  <xsd:element name="showFormHasEvents" type="ShowFormHasEvents" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ShowFormHasEvents">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Event -->
          <xsd:element ref="event" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormHasEvents Moniker -->
  <xsd:element name="showFormHasEventsMoniker" type="ShowFormHasEventsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ShowFormHasEventsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ShowFormHasEvents instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormHasPrimitives -->
  <xsd:element name="showFormHasPrimitives" type="ShowFormHasPrimitives" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ShowFormHasPrimitives">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Primitive -->
          <xsd:element ref="primitive" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormHasPrimitives Moniker -->
  <xsd:element name="showFormHasPrimitivesMoniker" type="ShowFormHasPrimitivesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ShowFormHasPrimitivesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ShowFormHasPrimitives instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- InPortReferencesShowForms -->
  <xsd:element name="inPortReferencesShowForms" type="InPortReferencesShowForms" substitutionGroup="core:modelElement" />
  <xsd:complexType name="InPortReferencesShowForms">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ShowForm -->
          <xsd:element ref="showFormMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- InPortReferencesShowForms Moniker -->
  <xsd:element name="inPortReferencesShowFormsMoniker" type="InPortReferencesShowFormsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="InPortReferencesShowFormsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for InPortReferencesShowForms instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormReferencesOutPorts -->
  <xsd:element name="showFormReferencesOutPorts" type="ShowFormReferencesOutPorts" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ShowFormReferencesOutPorts">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end OutPort -->
          <xsd:element ref="outPortMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: FromEvent -->
        <xsd:attribute name="fromEvent" type="xsd:string" />
        <!-- Property: nextState -->
        <xsd:attribute name="nextState" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormReferencesOutPorts Moniker -->
  <xsd:element name="showFormReferencesOutPortsMoniker" type="ShowFormReferencesOutPortsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ShowFormReferencesOutPortsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ShowFormReferencesOutPorts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- C -->
  <xsd:element name="c" type="C" substitutionGroup="core:modelElement" />
  <xsd:complexType name="C">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Connectable -->
          <xsd:element ref="connectableMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: FromEvent -->
        <xsd:attribute name="fromEvent" type="xsd:string" />
        <!-- Property: NextState -->
        <xsd:attribute name="nextState" type="xsd:string" />
        <!-- Property: Data -->
        <xsd:attribute name="data" type="xsd:string" />
        <!-- Property: NextController -->
        <xsd:attribute name="nextController" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- C Moniker -->
  <xsd:element name="cMoniker" type="CMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for C instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPortsHasIP -->
  <xsd:element name="classWithPortsHasIP" type="ClassWithPortsHasIP" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClassWithPortsHasIP">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end IP -->
          <xsd:element ref="iP" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPortsHasIP Moniker -->
  <xsd:element name="classWithPortsHasIPMoniker" type="ClassWithPortsHasIPMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClassWithPortsHasIPMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClassWithPortsHasIP instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPortsHasOP -->
  <xsd:element name="classWithPortsHasOP" type="ClassWithPortsHasOP" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClassWithPortsHasOP">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end OP -->
          <xsd:element ref="oP" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClassWithPortsHasOP Moniker -->
  <xsd:element name="classWithPortsHasOPMoniker" type="ClassWithPortsHasOPMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClassWithPortsHasOPMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClassWithPortsHasOP instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

